<div class="content-heading">Google Maps</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="scrollwheel" class="gmap">
                        <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
                        <sebm-google-map-marker [latitude]="33.787453" [longitude]="lng"></sebm-google-map-marker>
                    </sebm-google-map>
                </div>
            </div>
        </div>
    </div>
</div>
