<div class="content-heading">Cluster Monitoring
    <small>Description</small>
</div>
<!-- START row-->
<div class="row">
    <div class="col-md-6">
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cluster A</h3>
            </div>
            <div class="panel-body">
                <h4>Status:</h4>
                <button class="mb-sm btn btn-warning" type="button">Warning</button>
                <h4>Info:</h4>

                <br/>
                <br/><h4>Action:</h4>
                <button class="mb-sm btn btn-default" type="button">Connect</button>
                <button class="mb-sm btn btn-inverse" type="button">Disconnect</button>
            </div>
        </div>
    </div>
</div>
<!-- START row-->
<div class="row">
    <div class="col-md-6">
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cluster B</h3>
            </div>
            <div class="panel-body">
                <h4>Status:</h4>
                <button class="mb-sm btn btn-success" type="button">Normal</button>
                <h4>Info:</h4>

                <br/>
                <br/><h4>Action:</h4>
                <button class="mb-sm btn btn-default" type="button">Connect</button>
                <button class="mb-sm btn btn-inverse" type="button">Disconnect</button>
            </div>
        </div>
    </div>
</div>
<!-- START row-->
<div class="row">
    <div class="col-md-6">
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cluster C</h3>
            </div>
            <div class="panel-body">
                <h4>Status:</h4>
                <button class="mb-sm btn btn-success" type="button">Normal</button>
                <h4>Info:</h4>

                <br/>
                <br/><h4>Action:</h4>
                <button class="mb-sm btn btn-default" type="button">Connect</button>
                <button class="mb-sm btn btn-inverse" type="button">Disconnect</button>
            </div>
        </div>
    </div>
</div>
