<div class="content-heading">
    Dashboard v1
</div>

<div class="row">
    <div class="col-lg-3 col-sm-6">
        
        <div class="panel widget bg-primary">
            <div class="row row-table">
                <div class="col-xs-4 text-center bg-primary-dark pv-lg">
                    <em class="icon-cloud-upload fa-3x"></em>
                </div>
                <div class="col-xs-8 pv-lg">
                    <div class="h2 mt0">0</div>
                    <div class="text-uppercase">Uploads</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        
        <div class="panel widget bg-purple">
            <div class="row row-table">
                <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                    <em class="icon-globe fa-3x"></em>
                </div>
                <div class="col-xs-8 pv-lg">
                    <div class="h2 mt0">0
                        <small>GB</small>
                    </div>
                    <div class="text-uppercase">Data</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      
        <div class="panel widget bg-green">
            <div class="row row-table">
                <div class="col-xs-4 text-center bg-green-dark pv-lg">
                    <em class="icon-bubbles fa-3x"></em>
                </div>
                <div class="col-xs-8 pv-lg">
                    <div class="h2 mt0">0</div>
                    <div class="text-uppercase">Notifications</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        
        <div class="panel widget">
            <div class="row row-table">
                <div class="col-xs-4 text-center bg-green pv-lg">
                    
                    <span now class="text-sm" format="MMMM"></span>
                    <br/>
                    <span now class="h2 mt0" format="D"></span>
                </div>
                <div class="col-xs-8 pv-lg">
                    <span now class="text-uppercase" format="dddd"></span>
                    <br/>
                    <span now class="h2 mt0" format="h:mm"></span>
                    <span now class="text-muted text-sm" format="a"></span>
                </div>
            </div>
        </div>
     
    </div>
</div>

<div class="row">
    <aside class="col-lg-3">
        <!-- START messages and activity-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Latest activities</div>
            </div>
            <!-- START list group-->
            <div class="list-group">
                <!-- START list group item-->
                <div class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                            <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-purple"></em>
                        <em class="fa fa-cloud-upload fa-stack-1x fa-inverse text-white"></em>
                     </span>
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="text-muted pull-right ml">15m</small>
                            <div class="media-box-heading"><a class="text-purple m0" href="">xxx</a>
                            </div>
                            <p class="m0">
                                <small><a href="">test.xls</a>
                        </small>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->

                <!-- START list group item-->
                <div class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                            <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-info"></em>
                        <em class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em>
                     </span>
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="text-muted pull-right ml">2h</small>
                            <div class="media-box-heading"><a class="text-info m0" href="">xxx</a>
                            </div>
                            <p class="m0">
                                <small><a href="">test.doc</a>
                        </small>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->

                <!-- START list group item-->
                <div class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                            <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-danger"></em>
                        <em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
                     </span>
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="text-muted pull-right ml">5h</small>
                            <div class="media-box-heading"><a class="text-danger m0" href="">BROADCAST</a>
                            </div>
                            <p class="m0"><a href="">Read</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->

                <!-- START list group item-->
                <div class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                            <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-success"></em>
                        <em class="fa fa-clock-o fa-stack-1x fa-inverse text-white"></em>
                     </span>
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="text-muted pull-right ml">15h</small>
                            <div class="media-box-heading"><a class="text-success m0" href="">xxx</a>
                            </div>
                            <p class="m0">
                                <small>On
                           <em>10/12/2015 09:00 am</em>
                        </small>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->

                <!-- START list group item-->
                <div class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                            <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-warning"></em>
                        <em class="fa fa-tasks fa-stack-1x fa-inverse text-white"></em>
                     </span>
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="text-muted pull-right ml">1w</small>
                            <div class="media-box-heading"><a class="text-warning m0" href="">xxx</a>
                            </div>
                            <progressbar class="progress-xs m0" value="22" type="warning">22%</progressbar>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->
            </div>
            <!-- END list group-->
            <!-- START panel footer-->
            <div class="panel-footer clearfix">
                <a class="pull-left" href="">
                    <small>Load more</small>
                </a>
            </div>
            <!-- END panel-footer-->
        </div>
        <!-- END messages and activity-->
    </aside>
    <!-- END dashboard sidebar-->
</div>
